<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--Atomikos数据源Bean-->
    <bean id="atomikosDataSourceBean" class="com.atomikos.jdbc.AtomikosDataSourceBean">
        <property name="xaProperties">
            <props>
                <prop key="url">${db.url}</prop>
                <prop key="user">${db.user}</prop>
                <prop key="password">${db.password}</prop>
            </props>
        </property>
        <property name="xaDataSourceClassName" value="com.mysql.jdbc.jdbc2.optional.MysqlXADataSource"/>
        <property name="uniqueResourceName" value="ds1"/>
    </bean>

    <!--Spring JdbcTemplate-->
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="atomikosDataSourceBean"/>
    </bean>

    <!--Spring事务管理器底层指定的Atomikos事务管理器，支持分布式事务，2PC-->
    <bean id="userTransactionManager" class="com.atomikos.icatch.jta.UserTransactionManager">
        <property name="forceShutdown" value="true"/>
    </bean>

    <!--Spring事务管理器-->
    <bean id="transactionManager" class="org.springframework.transaction.jta.JtaTransactionManager">
        <property name="transactionManager" ref="userTransactionManager"/>
    </bean>

    <!--ActiveMQ连接工厂-->
    <bean id="activeMQXAConnectionFactory" class="org.apache.activemq.ActiveMQXAConnectionFactory">
        <property name="brokerURL" value="${mq.brokerURL}"/>
        <property name="alwaysSessionAsync" value="false"/>
        <property name="alwaysSyncSend" value="true"/>
    </bean>

    <!--Atomikos连接工厂Bean，支持分布式事务，2PC -->
    <bean primary="true" id="atomikosConnectionFactoryBean"
          class="org.springframework.boot.jta.atomikos.AtomikosConnectionFactoryBean">
        <property name="xaConnectionFactory" ref="activeMQXAConnectionFactory"/>
        <property name="localTransactionMode" value="false"/>
    </bean>

    <!--Spring JmsTemplate-->
    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="atomikosConnectionFactoryBean"/>
        <property name="pubSubDomain" value="false"/>
    </bean>

    <!--Queue-->
    <bean id="activeMQQueue" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg value="scores"/>
    </bean>

    <!--Gson-->
    <bean id="gson" class="com.google.gson.Gson"/>

    <!--消息监听器-->
    <bean id="testMessageListener" class="com.yxtec.t4.consumer.TestMessageListener"/>

    <!--消息监听器容器-->
    <bean id="listenerContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="messageListener" ref="testMessageListener"/>
        <property name="connectionFactory" ref="activeMQXAConnectionFactory"/>
        <property name="destination" ref="activeMQQueue"/>
    </bean>

    <bean id="testBean" class="com.yxtec.t4.consumer.TestBean" scope="singleton" lazy-init="true" init-method="initMethod" destroy-method="destroyMethod"/>

</beans>